<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |f| %>
          <tr>
            <td><strong>Name: </strong> <%= f.full_name %></td>
            <td><strong>Email: </strong> <%= f.email %></td>
            <td>
              <strong>Actions: </strong> <%= link_to "View Profile", user_path(f), class: "btn btn-sm btn-success" %>
              <% if current_user.not_friends_with?(f.id) %>
                <%= link_to 'Follow friend?', friendships_path(friend: f), class: "btn btn-xs btn-success", method: :post %>
              <% else %>
                <span class="badge badge-secondary"> You are friends</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
